/* src/index.css */
body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f4f7f6; /* ნათელი თემის ნაგულისხმევი ფონი */
  color: #333;
  transition: background-color 0.3s ease, color 0.3s ease; /* გლუვი გადასვლა */
}

body.dark-theme {
  background-color: #2c3e50; /* ბნელი თემის ფონი */
  color: #ecf0f1; /* ბნელი თემის ტექსტის ფერი */
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
